<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>ID</th>
    <th>Usergroup</th>
    <th id="plus" (click)="changeDisplayAddModal(true)" >+</th>
  </tr>
  </thead>
  <tbody>
  <tr app-user-management-table-entry *ngFor="let user of users" [user]="user" (update)="fetchUsers()" ></tr>
  </tbody>
  <caption *ngIf="users === undefined || users.length === 0" >No entries were found!</caption>
</table>
<app-modal *ngIf="displayAddModal" title="Edit Entry" [formContent]="addModalInputs" [buttons]="{dismiss:'Abort', submit:'Add'}" (displayModal)="changeDisplayAddModal($event)" (output)="addUser($event)" [textualContent]="passwordMessage" ></app-modal>
