<div class="main-container">
  <div>
    <h2 *ngIf="salesman" id="salesman">{{ salesman.id }}: {{ salesman.firstname }} {{ salesman.lastname }}</h2>
    <select id="yearSelector" [(ngModel)]="currentYear" (change)="selectYear()">
      <option *ngFor="let record of this.records" >{{record.year}}</option>
    </select>
    <a id="addRecordLink" (click)="displayAddERModal(true)" >+</a>
  </div>
  <div>
    <app-evaluation-record-table [entries]="currentRecord" ></app-evaluation-record-table>
  </div>
  <app-modal *ngIf="displayERModal" title="Add Evaluation Record" [formContent]="addERInputs" [buttons]="{dismiss:'Abort', submit:'Add'}" (displayModal)="displayAddERModal($event)"  (output)="addER($event)" ></app-modal>
</div>
