#plus{
  width: 1%;
  white-space: nowrap;
  font-size: 1.8em;
  line-height: 0.7em;
  font-weight: lighter;
  cursor: pointer;
  text-align: right;
}

caption{
  caption-side: bottom;
  padding: 6px 10px;
}
