/* You can add global styles to this file, and also import other style files */
:root{
  --primary-gradient: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
  --primary: rgba(48,207,208,1);
  --secondary: rgba(51,8,103,1);
  --text-color: #484848;
  --font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
}

.main-container{
  box-sizing: border-box;
  width: 100%;
  padding: 10px 50px;
  margin: 0 auto;
}

input[type=button],input[type=submit],button{
  font-family: Arial;
  box-sizing: border-box;
  display: block;
  font-size: 20px;
  margin: 8px 0;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  background: white;
  cursor: pointer;
}

input[type=button]:hover,input[type=submit]:hover,button:hover{
  color: white;
  border: 1px solid white;
  background: var(--secondary);
  border-radius: 4px;
}

input[type=text],input[type=password], input[type=number], select, textarea{
  border-radius: 3px;
  border: 1px solid grey;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px 0;
  padding: 6px;
}

table {
  width: 100%;
  font-size: 20px;
  border-collapse: collapse;
}

table th{
  padding: 8px 10px;
}

table>thead>tr{
  color: white;
  background: var(--primary-gradient);
}

table>thead>tr>th{
  text-align: start;
}

tbody>tr:not(:last-child){
  border-bottom: 1px solid lightgrey;
}

tr:nth-child(even){
  background: #ececec;
}

tbody>tr.selected{
  background: #00b7ff30;
}

td{
  padding: 6px 10px;
}

