.control{
  text-align: right;
}

.control>a{
  cursor: pointer;
}

.editButton{
  margin-right: 0.4rem;
  line-height: 0.7rem;
  font-size: 22px;
}

.passwordButton{
  margin-right: 0.4rem;
  line-height: 0.4rem;
  font-size: 16px;
}

.deleteButton{
  line-height: 0.4rem;
  font-size: 30px;
}
